*{
    background-color: gray;
}

p{
    text-align: center;
    background-color: rgb(12, 188, 233);
    color: aliceblue;
    font-size: 35px;
}
h1{
    font-size: 45px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    background-color: rgb(120, 8, 135);
    color: black;
    font-style: calc(55%);
    font-style: italic;
}
h2{
    font-size: 55px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(120, 8, 135);
    color: black;
    text-decoration: dotted;
}
body{
    background-image: url(ss.jpg);
    background-size: cover;
    background-position: center;
}
ul li{
    display: inline;
    color: white;
    text-align: center;
    padding-inline: 20px;
    font-size: 17.8px;
} 
ol li{
    display: inline;
    color: white;
    text-align: center;
    padding-inline: 20px;
    font-size: 30px;
}
ol li :hover{
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 0 0 5px white,0 0 10px white ,0 0 15px white;
    font-weight: bold;
}
